.search-form-style, .table-list-style, .form-create  {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #d9d9d9;
}
.search-form-style {
    padding-top: 10px;
}
.table-list-style {
    margin-top: 20px;
}
.list-operator {
    margin: 5px;
}
.form-create {

}